force-app/main/default/flows/Employee_Populate_Manager_Id_on_Employee.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assignment_1</name>
        <label>Assignment 1</label>
        <locationX>264</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Employees.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Employees</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Employee_contains_manager_or_not</name>
        <label>Check Employee contains manager or not</label>
        <locationX>396</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Iterate_Over_Employees</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Manager_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Over_Employees.Employee_Id__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Manager_Employee_Id__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_1</targetReference>
            </connector>
            <label>Check Manager Id</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Employee: Populate Manager Id on Employee {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Employee: Populate Manager Id on Employee</label>
    <loops>
        <name>Iterate_Over_Employees</name>
        <label>Iterate Over Employees</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <collectionReference>Get_Employee_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Employee_contains_manager_or_not</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Employee_Records</name>
        <label>Get Employee Records</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Over_Employees</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Manager_Employee_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Employee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Employee_Records</targetReference>
        </connector>
        <object>Employee__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>managerMatchFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
