force-app/main/default/flows/Employee_Create_Employee.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Duplicate_email_to_true</name>
        <label>Assign Duplicate email to true</label>
        <locationX>402</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>isDuplicateEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>If_email_and_employee_id_is_duplicate</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Check_Email_and_Employee_Id_Duplicate</name>
        <label>Check Email and Employee Id Duplicate</label>
        <locationX>534</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Loop_Over_all_employee_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_email_duplicate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Over_all_employee_records.Employee_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Employee_Emails.value</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Duplicate_email_to_true</targetReference>
            </connector>
            <label>check email duplicate</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_email_and_employee_id_is_duplicate</name>
        <label>If email and employee id is duplicate</label>
        <locationX>314</locationX>
        <locationY>908</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>duplicate_email</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>isDuplicateEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Error_Screen</targetReference>
            </connector>
            <label>duplicate email</label>
        </rules>
        <rules>
            <name>Create_Employee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isDuplicateEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_employee_record</targetReference>
            </connector>
            <label>Create Employee</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>check_data_not_in_future</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Date_of_Joining} &lt;= {!$Flow.CurrentDate}, true, false)</expression>
    </formulas>
    <formulas>
        <name>check_email_format</name>
        <dataType>String</dataType>
        <expression>
            LEFT({!Loop_Over_all_employee_records.Employee_Email__c},FIND(&quot;@&quot;,{!Loop_Over_all_employee_records.Employee_Email__c})-1)</expression>
    </formulas>
    <formulas>
        <name>Check_Manager_Id_Format</name>
        <dataType>Boolean</dataType>
        <expression>IF(REGEX({!Manager_Employee_Id}, &quot;^[A-Za-z]\\d{4}$&quot;) , true, false)</expression>
    </formulas>
    <formulas>
        <name>Check_Phone_Field</name>
        <dataType>Boolean</dataType>
        <expression>IF(REGEX({!Mobile_Number.value}, &quot;^[0-9]{10}$&quot;), true, false)</expression>
    </formulas>
    <interviewLabel>Employee: Create Employee {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Employee: Create Employee</label>
    <loops>
        <name>Loop_Over_all_employee_records</name>
        <label>Loop Over all employee records</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Employees_Email</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Email_and_Employee_Id_Duplicate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>If_email_and_employee_id_is_duplicate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_employee_record</name>
        <label>create employee record</label>
        <locationX>314</locationX>
        <locationY>1016</locationY>
        <inputAssignments>
            <field>Date_of_Joining__c</field>
            <value>
                <elementReference>Date_of_Joining</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Designation__c</field>
            <value>
                <elementReference>Designation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employee_Email__c</field>
            <value>
                <elementReference>Employee_Emails.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manager_Employee_Id__c</field>
            <value>
                <elementReference>Manager_Employee_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile__c</field>
            <value>
                <elementReference>Mobile_Number.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Employee_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Employee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Employees_Email</name>
        <label>Get Employees Email</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_all_employee_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Employee_Email__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Employee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Email_Error_Screen</name>
        <label>Email Error Screen</label>
        <locationX>50</locationX>
        <locationY>1016</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(234, 30, 30);&quot;&gt;Duplicate
                Email. Please enter unique email id.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Employee_Details</name>
        <label>Employee Details</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Employees_Email</targetReference>
        </connector>
        <fields>
            <name>Employee_Name</name>
            <dataType>String</dataType>
            <fieldText>Employee Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Employee_Emails</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Employee Email</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Date_of_Joining</name>
            <dataType>Date</dataType>
            <fieldText>Date of Joining</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Please enter current of past dates.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!check_data_not_in_future}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Manager_Employee_Id</name>
            <dataType>String</dataType>
            <fieldText>Manager Employee Id</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);
                    color: rgb(68, 68, 68);&quot;&gt;Please enter in correct
                    format.Eg{A0001}.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Check_Manager_Id_Format}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Designation</name>
            <dataType>String</dataType>
            <fieldText>Designation</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Mobile_Number</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Mobile Number</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <validationRule>
                <errorMessage>&lt;p&gt;Mobile number must have 10 digits.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Check_Phone_Field}</formulaExpression>
            </validationRule>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Employee_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Employee__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Employee__c</objectType>
    </variables>
    <variables>
        <name>EmployeeRecod</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Employee__c</objectType>
    </variables>
    <variables>
        <name>isDuplicateEmail</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>